.mainPageContainer {
    display: flex;
    flex-direction: column;
    // padding: 10px 16px 16px 16px;
    height: 100vh;
    background-color: #F4F4F4;

    .headerBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .filterBtn {
            color: #666666;
            font-size: 17px;
        }
    }

    .headerContainer {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-direction: column;
        background-color: #FFFFFF;
        padding: 16px;
        

        .filterContainer {
            gap: 8px;
            
            display: flex;
            overflow-x: auto;
            font-size: 14px;
    
            -ms-overflow-style: none;     
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                display: none;              
            }
    
            .filterItem{
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
                font-weight: 500;
                cursor: pointer;
                background-color: #E9EDEE;
                border-radius: 60px;
                padding: 11px 12px;
                gap: 6px;
                height: 36px;
    
                &.active {
                    color: #fff;
                    background-color: #000;
                }

                .modalIcon{
                    display: flex;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #fff;
                    overflow: hidden;
                    padding-left: 20px;

                    >img{
                        object-fit: contain;
                    }
                }
            }
        }

        .totalFilterContainer{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 19px;

            .total{
                font-weight: 500;
            }
            .amount{
                font-weight: 700;
            }

            .mainFilterBtn{
            width: 40px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        }

    }



}