.mainPageContainer {
    display: flex;
    flex-direction: column;
    padding: 10px 16px 16px 16px;
    height: 100vh;

    .headerBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .search{
            background-color: #EFEFF4;
            height: 36px;
    
            .searchIcon {
                color: #8A8A8F;
            }
        }
        .filterBtn {
            color: #666666;
            font-size: 17px;
        }
    }

    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        .mainFilterBtn{
            width: 40px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .filterContainer {
            gap: 15px;
            height: 44px;
            display: flex;
            overflow-x: auto;
            font-size: 15px;
    
            -ms-overflow-style: none;     
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                display: none;              
            }
    
            .filterItem{
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #8A8A8F;
                cursor: pointer;
    
                &.active {
                    color: #000;
                    font-weight: 500;
                    border-bottom: 2px solid #0482FF;
                }
            }
        }

    }



}